.separate-nav {
  margin-right: 500px;
}

.bg-nav{
  background-color: blue;
}

nav li{
  color: white;
}

.content{
  min-height: 700px;
  margin: 20px;
  padding: 10px auto;
}

.display-row {
  display: flex;
  flex-direction: row;
}

.rm-12 {
  margin-right: 12px;
}



.footer{
  display: flex;
  flex-direction: row;
  height: 200px;
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  align-items: center;
  align-content: center;
}